
body {
    background-color: hsl(204, 43%, 93%);
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;

}

h1 {
    color: hsl(179, 62%, 43%);

}

h2 {
    color: white;
}


div {
    padding: 20px 0 20px 50px;
    
}

p {
    color: white;
    font-size: 16px;

}


.top-container {
    background-color: white;
    margin: 100px auto 0 auto;
    width: 50%;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}


.left-container {
    background-color: hsl(179, 62%, 43%);
    box-sizing: border-box;
    position:absolute;
    left: 0px;
    top: 230px;
    width: 50%;
    height: 300px;
    border-bottom-left-radius: 10px;

}

.right-container {
    background-color: hsl(175, 50%, 65%);
    box-sizing: border-box;
    position:absolute;
    width: 50%;
    height: 300px;
    top: 230px;
    right: 0;
    border-bottom-right-radius: 10px;

}

.reasons {
    line-height: 0.7;
    font-size:14px;
}

.first-p {
    color:hsl(218, 22%, 67%);
    line-height: 1;
}

.money-back {
    color: hsl(71, 73%, 54%);
}

.price {
    font-size: 40px;
}

.month {
    color:lightgrey;
    font-size: 16px;
    position: absolute;
    padding: 15px;
    
}


.btn {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 100px;
    border-style: solid;
    border-width: 0;
    background-color: #C0DF34;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;

}
    
.btn:hover {
    border: solid #E0F971 0px;
    background: #C0DF34;
    background-image: -webkit-linear-gradient(top, #C0DF34, #BBE95B);
    background-image: -moz-linear-gradient(top, #C0DF34, #BBE95B);
    background-image: -ms-linear-gradient(top, #C0DF34, #BBE95B);
    background-image: -o-linear-gradient(top, #C0DF34, #BBE95B);
    background-image: linear-gradient(to bottom, #C0DF34, #BBE95B);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}